<h1 id="cat-title">{{category?.name}}</h1>

<a *ngIf="userService.isConnected | async"
   [routerLink]="['/admin/category-panel', categoryUuid]">
  <button mat-raised-button color="primary">Modifier la catégorie</button>
</a>

<div id="summary" *ngIf="category?.summaryHtml" [innerHTML]="category?.summaryHtml"></div>

<div *ngFor="let uuid of category?.articles"
     class="article">
  <h2 class="art-title">{{articles.get(uuid)?.title}}</h2>

  <p [innerHTML]="articles.get(uuid)?.html"></p>

  <div class="art-div-btn-read">
    <a [routerLink]="['/article/view', uuid]">
      <button mat-raised-button>Lire l'article</button>
    </a>
  </div>
</div>
