<h1>Import d'un média</h1>
<mat-tab-group>
  <mat-tab label="Images">
    <div class="contenu">
      <ng-container *ngFor="let image of images|async">
        <app-media-details (click)="valider(image)" [media]="image"></app-media-details>
      </ng-container>
    </div>

  </mat-tab>
  <mat-tab label="Vidéos">
    <div class="contenu">
      <ng-container (click)="valider(video)" *ngFor="let video of videos|async">
        <app-media-details (click)="valider(video)" [media]="video"></app-media-details>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="PDF">
    <div class="contenu">
      <ng-container (click)="valider(pdf)" *ngFor="let pdf of pdfs|async">
        <app-media-details (click)="valider(pdf)" [media]="pdf"></app-media-details>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
