
/gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml

/.jpb/
/.gradle/
/build.mv.db
/build.trace.db
/test

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/ptitbiomed-api/src/main/resources/application-bastien.properties

# Used to test liquibase changesets locally
/ptitbiomed-api/src/main/resources/liquibase.properties

/ptitbiomed-api/src/main/resources/application-*.yml
!/ptitbiomed-api/src/main/resources/application-dev.yml
!/ptitbiomed-api/src/main/resources/application-docker.yml
