<div id="container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field appearance="fill">
        <mat-label>New item...</mat-label>
        <input matInput #itemValue placeholder="Ex. Lettuce">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node>
  </mat-tree>
</div>
