
#article-viewer {
  max-width: max-content;
  margin: auto;
}

h1 {
	margin: 1em 0 1rem;
	text-align: center;
	font-size: 3rem;
  line-height: 1em;
}

button {
  margin: 1rem;
}

#metadata {
  margin-top: 1rem;
}
