<h1>Video</h1>
<mat-radio-group [formControl]="taille" aria-label="Taille">
  <mat-radio-button [value]="'petit'" checked>Petit</mat-radio-button>
  <mat-radio-button [value]="'moyen'">Moyen</mat-radio-button>
  <mat-radio-button [value]="'grand'">Grand</mat-radio-button>
</mat-radio-group>
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Légende</mat-label>
  <input [formControl]="legende" matInput placeholder="Ex. Pizza">
</mat-form-field>
<app-upload-image (nomMedia)="addVideo($event)"></app-upload-image>
<br>
<div *ngFor="let video of videos|async">
  <p>{{video.nom}}</p>
  <video controls preload="metadata" width="250">
    <source src="https://media.ptitbiomed.fr/{{video.hash}}.{{video.type.split('/')[1]}}" type="{{video.type}}">
  </video>
  <button (click)="addVideo(video)" color="accent" mat-raised-button>Ajouter</button>
</div>
