<ul id="liens">
  <li *ngFor="let item of getRootItems()">
    <div class="dropdown">
      <a class="dropdown-button"
         [routerLink]="getLink(item)">
        {{item.label}}
      </a>

      <div class="dropdown-content">
        <div *ngFor="let sub1 of getChildren(item)" class="dropdown">
          <a class="dropdown-button"
             [routerLink]="getLink(sub1)">
            {{sub1.label}}
          </a>

          <div class="dropdown-content">
            <div *ngFor="let sub2 of getChildren(sub1)" class="dropdown">
              <a class="dropdown-button"
                 [routerLink]="getLink(sub2)">
                {{sub2.label}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </li>
</ul>
