<h1>{{titre}}</h1>

<div class="editor">
  <form (ngSubmit)="createArticle()"
        [formGroup]="formArticle"
        id="editor-source">
    <div id="enteteForm">
      <mat-form-field appearance="fill">
        <mat-label>Titre :</mat-label>
        <input formControlName="title" matInput/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Auteur :</mat-label>
        <input formControlName="author" matInput/>
      </mat-form-field>
      <div>
        <button [disabled]="!formArticle.valid" color="primary" mat-raised-button>Sauvegarder</button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <button (click)="ajouterMedia()" color="primary" mat-raised-button type="button">Ajouter un media</button>
    <button (click)="ajouterMenu()" color="primary" mat-raised-button type="button">Ajouter au menu</button>
    <mat-form-field appearance="fill" id="textAreaInput">
      <mat-label>HTML de l'article</mat-label>
      <textarea formControlName="content"
                matInput>
			</textarea>
    </mat-form-field>
  </form>

  <app-article-renderer [content]="htmlContent"
                        id="editor-render">
  </app-article-renderer>
</div>
