<div id="header">
  <div id="logo_ptitbiomed">
    <img alt="ptitBioMed Logo" src="/assets/img/ptitbiomed_logo.png">
  </div>
  <ul id="liens" *ngIf="menuItems">
    <li *ngFor="let item of menuItems">
      <a *ngIf="item.link; else dropdown" href="{{item.link}}" class="link">{{item.label}}</a>
      <ng-template #dropdown>
        <div class="dropdown">
          <div class="dropdown-button">{{item.label}}</div>
          <div *ngIf="item.submenuas" class="dropdown-content">
            <div *ngFor="let submenua of item.submenuas">
              <a *ngIf="submenua.link; else dropdown2" href="{{submenua.link}}">{{submenua.label}}</a>
              <ng-template #dropdown2>
                <div class="dropdown2">
                  <div class="dropdown-button2">{{submenua.label}}</div>
                  <div *ngIf="submenua.submenubs" class="dropdown-content2">
                    <div *ngFor="let submenub of submenua.submenubs">
                      <a href="{{submenub.link}}">{{submenub.label}}</a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li *ngIf="userService.isConnected|async">
      <a [matMenuTriggerFor]="administration" routerLink="" class="link"><p>Administration</p></a>
      <mat-menu #administration="matMenu">
        <a routerLink="admin/user">
          <button mat-menu-item>Utilisateurs</button>
        </a>
        <a routerLink="admin/panel">
          <button mat-menu-item>Panel</button>
        </a>
      </mat-menu>
    </li>
    <li *ngIf="!(userService.isConnected|async)">
      <a routerLink="login" class="link">Connexion</a>
    </li>
    <li *ngIf="userService.isConnected|async">
      <a (click)="logout()" href="" class="lien">Déconnexion</a>
    </li>
  </ul>
</div>
