:host {
  display: flex;
  flex-direction: row;

  max-width: max-content;
  padding: 1rem 1rem 0;
}

img {
  max-width: 350px;
  margin: auto;
  display: block;
}

#div-navbar {
  display: flex;
  align-items: center;
}

.link {
  padding: 10px;
  border-radius: 5px;

  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: #107A94;
}

@media (max-width: 900px) {
  :host {
    flex-direction: column;

    padding: 1rem 0 0;
  }
}
