#container {
  margin: 0 20%;
  background-color: white;
  height: 100%;
  padding: 1rem;
}

#precontainer {
  overflow: auto;
  min-height: 80%;
  background-color: rgba(128, 128, 128, 0.09);
}

app-navbar {
  height: 10%;
}

app-footer {
  height: 15%;
}

@media (max-width: 1000px) {
  #container {
    margin: 0 10%;
    background-color: white;
    height: 100%;
  }
}

