:host {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.contenu {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: baseline;
}
