<div id="align">
  <form [formGroup]="loginForm" id="formLogin">
    <mat-form-field appearance="fill">
      <mat-label>Identifiant</mat-label>
      <input formControlName="id" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
      <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
              matSuffix>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="invalid">Identifiant ou mot de passe invalide</mat-error>
    </mat-form-field>
    <button (click)="submit()" [disabled]="!loginForm.valid" color="primary" mat-raised-button>Valider</button>
    <mat-error *ngIf="invalid">Identifiant ou mot de passe invalide</mat-error>
  </form>
</div>
